* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(29, 29, 29);
}

a {
    text-decoration: none;
    color: black;
}