.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}

.items {
    display: flex;
    justify-content: space-around;
    backdrop-filter: blur(10px);
    border: solid 1.5px rgba(255, 255, 255, 0.18);
    box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
}

.item-text-main:hover{
    color: rgb(255, 183, 94);
}

.item-text-main {
    color: white;
    margin: 15px 20px;
    font-size: 24px;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.item-text-main:last-child{
    margin-right: 130px;
}

.icon{
    position: fixed;
    color: white;
    right: 20px;
    top: 14px;
    z-index: 10;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-right: 0;
    transition: transform 0.2s ease-in;
}

.icon:hover{
    transform: scale(1.2);
}

.nav.show {
    opacity: 1;
    visibility: visible;
}
