body{
    background-color:black;
    color: white;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 20px;
}

.title{
    font-size: 54px;
    text-align: center;
    font-weight: 600;
    padding: 40px;
}

#facts-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

svg{
    width: 50px;
    height: 50px;
    stroke: white;
}