body{
    background-color: black;
    color: white;
    padding: 20px;
}

* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
    font-size: 45px;
}

.prolog{
    font-style: italic;
}

.p{
    font-size: 20px;
}

h2{
    font-size: 30px;
}

h4{
    font-size: 20px;
}

svg{
    stroke: white;
    width: 50px;
    height: 50px;
}